/* 
* Section
*/
.section {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
/* 
* Sidenav
*/
.section > .sidenav {  
    flex: .3;
    height: 100vh;
    position: relative;
    background-color: darkslateblue;
}
/* 
* Wrapper
*/
.section > .wrapper {
    flex: 1;
    height: 100vh;
    position: relative;
}
/* 
* Center
*/
.center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* 
* Element
*/
.box {
    width: 36%;
    margin: 0 auto;
    padding: 24% 0 0;
    position: relative;
}
.box .box-output {
    padding: 0 10%;
}
.box .box-output b {
    display: block;
    margin: 0 0 15px;
}
.box .box-output p {
    line-height: 1.71;
    font-family: monospace;
}