.input-color-picker {
    height: 45px;
    display: block;
    position: relative;
}
.input-color-picker input {
    width: 75px;
    height: 25px;
    border: 0;
    outline: 0;
    padding: 3px;
    text-align: center;
}
.input-color-picker button {
    width: 75px;
    height: 25px;
    float: left;
    border: 0;
    outline: 0;
    background-color: orange;
}
.input-color-picker .color-picker {
    left: 0;
    top: 100%;
    z-index: 100;
    display: none;
    position: absolute;
}
.input-color-picker.active .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 99;
    display: block;
    position: fixed;
} 
.input-color-picker.active .color-picker {
    display: block;
}
